html {
  width: 100%;
  height: 100%;
  display: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #1a0121;
  animation: bgDark 1s normal forwards;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div,
section,
html {
  font-family: "Comfortaa";
  color: white;
  text-align: center;
}

button {
  margin-top: 30;
  background-color: transparent;
  border: none;
}

.content {
  background-color: #1a0121;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightBackground h1,
.lightBackground h2,
.lightBackground h3,
.lightBackground h4,
.lightBackground h5,
.lightBackground h6,
.lightBackground span,
.lightBackground p,
.lightBackground div,
.lightBackground section {
  color: #333;
}

.lightBackground {
  animation: bgLight 1s normal forwards;
  /* background-color: #f5d76e; */
}

@keyframes bgLight {
  100% {
    background-color: #f5d76e;
  }
}

@keyframes bgDark {
  100% {
    background-color: #1a0121;
  }
}
